/* Default component styles */
.wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 46px;
}

.area {
    display: flex;
    box-sizing: border-box;
    border-radius: 8px;
    min-height: 26px;
    min-width: 46px;
}

.item {
    background: #171618;
    border-radius: 5px;
    padding: 4px;
    margin: 6px;
    color: white;

    &:hover{
        background: #ec7948;
    }
}

// Variable styles

.vertical {
    flex-direction: column;
}

.vertical-r {
    flex-direction: column-reverse;
}

.horizontal {
    flex-direction: row;
}

.horizontal-r {
    flex-direction: row-reverse;
}

.expanded-v {
    height: 100%;
}

.expanded-h {
    width: 100%;
}

.stretch {
    flex: auto;
}

.middle {
    flex-grow: 0;
    flex: auto;
}

.just-centered {
    // flex-grow: 0;
    justify-content: center;
}

.just-end {
    justify-content: flex-end;
}

.end {
    align-items:flex-end;
}

.hide {
    display: none;
}