/* Default component styles */
.wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    // border: 1px solid white;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 50px;
    margin: 2px; // SHOULD CHANGE OR PUT INTO SECTION PROPS FOR DEV SUPPORT
    // border: 1px solid white;
}

.area {
    min-height: 20px;
    min-width: 10%;
    border: 1px solid #3b7cd0;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px; // SHOULD CHANGE OR PUT INTO SECTION PROPS FOR DEV SUPPORT
    background: #3b3bd0b9;
    display: flex;
    justify-content: start;
}

.item {
    background: #E95518;
    border: 1px solid #f17d4a;
    border-radius: 5px;
    padding: 4px;
    color: white;

    &:hover{
        background: #ec7948;
    }
}

// Variable styles

.vertical {
    flex-direction: column;
}

.vertical-r {
    flex-direction: column-reverse;
}

.horizontal {
    flex-direction: row;
}

.horizontal-r {
    flex-direction: row-reverse;
}

.expanded-v {
    height: 100%;
}

.expanded-h {
    width: 100%;
}

.stretch {
    flex: auto;
}

.middle {
    flex-grow: 0;
    flex: auto;
}

.centered {
    flex-grow: 0;
    justify-content: center;
}

.bottom {
    justify-content: end;
    align-items:flex-end;
}

.hide {
    display: none;
}